<div class="card mb-3">
    <div class="card-body">
        <div class="card-text" [innerHTML]="answer.body"></div>
        <p class="card-text text-muted"><small>Автор: {{answer.owner.display_name}}</small></p>
    </div>
</div>