<ng-template #staticModal>
    <div class="modal-body">
        <app-question *ngFor="let question of questions"
                      [question]="question"
                      (clickAuthor)="showAuthorQuestions($event)"
                      (clickTag)="showTagQuestions($event)"
                      (detail)="close()"></app-question>
    </div>
</ng-template>
