<table class="table">
    <tr>
        <td>
            Автор: <a href="#" (click)="showAuthorQuestions(question.owner.user_id); $event.preventDefault()">{{question.owner.display_name}}</a> <br>
            Ответов: <a [routerLink]="['/detail', question.question_id]">{{question.answer_count}}</a>
        </td>
        <td>
            <h3><a [routerLink]="['/detail', question.question_id]" (click)="emitDetail()">{{question.title}}</a></h3>
            <app-tag *ngFor="let tag of question.tags" [text]="tag" (click)="showTagQuestions(tag)"></app-tag>
        </td>
    </tr>
</table>