<div class="card" *ngIf="detail">
    <div class="card-body">
        <h3 class="card-title">{{detail.title}}</h3>
        <p class="card-text" [innerHTML]="detail.body"></p>
        <p class="card-text">
            <small class="text-muted mr-1">7 просмотров</small>
            <small class="mr-1"><a [routerLink]="['/result', {author: detail.owner.user_id}]">{{detail.owner.display_name}}</a>
            </small>
            <app-tag *ngFor="let tag of detail.tags" [text]="tag"></app-tag>
        </p>
    </div>
</div>
<div class="container-fluid" *ngIf="answers">
    <h3>Ответы</h3>
    <div class="row">
        <div class="col">
            <app-answer *ngFor="let answer of answers" [answer]="answer"></app-answer>
        </div>
    </div>
</div>