<div class="card">
    <div class="card-header"><h5>Поиск вопросов</h5></div>
    <div class="card-body">
        <form action="" (submit)="onSubmit(query.value); $event.preventDefault()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Введите свой вопрос" #query>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">искать</button>
                </div>
            </div>
        </form>
    </div>
</div>