<div *ngIf="questions">
    <h2 *ngIf="query">Показаны вопросы по запросу: "{{query}}"</h2>
    <app-question *ngFor="let question of questions"
                  [question]="question"
                  (clickAuthor)="showAuthorQuestions($event)"
                  (clickTag)="showTagQuestions($event)"></app-question>
</div>
<p *ngIf="!questions && !loading">По данному запросу ответов не найдено</p>
<p *ngIf="loading">Идет загрузка...</p>
<app-quick-window #quickWindow></app-quick-window>